<div class="container-fluid">

  <div class="row bg-secondary">

    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54" >Seja bem vindo(a)!</h1>
          <h5 class="fs-18" >Expresse aqui os seus pensamentos e opiniões</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <button>Nova Postagem</button>
          <a href=""></a>
        </div>
      </div>


    </div>

    <div class="col-md-6">


    </div>

  </div>
</div>
