<div class="container-fluid">

  <div class="row bg-secondary d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Boas vindas!</h1>
          <h5 class="fs-18">Expresse aqui seus pensamentos e opiniões.</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mt-2 mr-2" data-toggle="modal" data-target="#nova-postagem">Nova postagem</button>
          <a class="btn btn-outline-light mt-2" href="#postagens">Ver postagens</a>
        </div>
      </div>

    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://i.imgur.com/H88yIo2.png" alt="" width="500px" height="500px">
    </div>
  </div>

</div>

<div class="container mb-5 mt-5" id="postagens">

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link text-secondary font-weight-bold active" id="nav-todas-as-postagens-tab" data-toggle="tab" href="#todas-as-postagens" role="tab" aria-controls="nav-todas-as-postagens" aria-selected="true">Todas as postagens</a>

      <a (click)="findByIdUsuario()" class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhas-postagens-tab" data-toggle="tab" href="#minhas-postagens" role="tab" aria-controls="nav-minhas-postagens" aria-selected="false">Minhas postagens</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagens-por-tema-tab" data-toggle="tab" href="#postagens-por-tema" role="tab" aria-controls="nav-postagens-por-tema" aria-selected="false">Postagens por tema</a>

    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">

    <div class="tab-pane fade show active" id="todas-as-postagens" role="tabpanel" aria-labelledby="nav-todas-as-postagens-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor="let postagem of listaPostagens">
          <div class="card-body">
            <h5 class="card-title m-0">{{postagem.titulo}}</h5>
            <p class="card-text"><small class="text-muted">
              Tema: {{postagem.tema.descricao}}
            </small></p>
            <p class="card-text mt-3">{{postagem.texto}}</p>
            <p class="card-text"><small class="text-muted">
              Publicado por {{postagem.usuario.nome}} em {{postagem.data | date: "dd/MM/yyyy"}} às {{postagem.data | date: "HH:mm"}}
            </small></p>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="minhas-postagens" role="tabpanel" aria-labelledby="nav-minhas-postagens-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor="let postagem of usuario.postagem">
          <div class="card-body">
            <h5 class="card-title m-0">{{postagem.titulo}}</h5>
            <p class="card-text"><small class="text-muted">
              Tema: {{postagem.tema.descricao}}
            </small></p>
            <p class="card-text mt-3">{{postagem.texto}}</p>
            <p class="card-text"><small class="text-muted">
              Publicado às {{postagem.data | date: "HH:mm"}}
            </small></p>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="postagens-por-tema" role="tabpanel" aria-labelledby="nav-postagens-por-tema-tab">

      <div class="card-columns" *ngFor="let tema of listaTemas">
        <div class="card text-center" *ngFor="let postagem of tema.postagem">
          <div class="card-body">
            <h5 class="card-title m-0">{{postagem.titulo}}</h5>
            <p class="card-text mt-3">{{postagem.texto}}</p>
            <p class="card-text"><small class="text-muted">
              Publicado por {{postagem.usuario.nome}} em {{postagem.data | date: "dd/MM/yyyy"}} às {{postagem.data | date: "HH:mm"}}
            </small></p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="modal fade" id="nova-postagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]="postagem.texto" name="texto" id="texto" rows="3" class="form-control"></textarea>
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a>:</label>
          <select name="tema" id="tema" class="form-control" [(ngModel)]="idTema" (change)="findByIdTema()">
            <option *ngFor="let tema of listaTemas" value="{{tema.id}}">
              {{tema.descricao}}
            </option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="publicar()">Publicar</button>
      </div>
    </div>
  </div>
</div>
